<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        {{!-- Render Parial --}}
        {{>header}}
            {{errorMessage}}
        {{>footer}}
    </body>

</html>