<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>

        {{!-- Render Parial --}}
        {{>header}}

            <p>Body</p>
        {{>footer}}
    </body>

</html>