<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        {{!-- Render Parial --}}
        {{>header}}
            <p>Fetch Weather</p>

            <form>
                <input name="address" placeholder="Location">
                <button> Search </button>
            </form>

            <p id="message-1"></p> 
            <p id="message-2"></p> 
        {{>footer}}
    </body>
<script src="js/app.js"></script>
</html>