body {
    color: #333333;
    font-family: arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;
}
footer {
    /* background: blue;
    margin: 16px;
    padding: 16px; */

    color: #888888;
    border-top: 3px solid #eeeeee;
    margin-top: 16px 0;
}
header {
    margin-top: 16px;
    margin-bottom: 48px;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
}

header a {
    color: #888888;margin-right: 16px;
    text-decoration: none;

}

input {
    border: 1px solid #cccccc;
    padding: 8px;
}

button {
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 8px;
}
